@import './variables.scss';

@import '../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';

body {
    padding    : 0;
    margin     : 0;
    font       : 400 15px/18px 'Roboto', Arial, sans-serif;
    background : #fafafa;
}

.app-container {
    padding-top: $space * 2;
    padding-bottom: $space * 2;
}

.error {
    display: block;
    padding: 4px;
    color: #fff;
    border: 1px solid #F00;
    background: lighten( #f00, 30% );
}